<!-- slide image -->
<div class="header_slideShow" id="slideShow">
</div>
<div class="header_img_title">
    <h3>Clothes Collection 2022</h3>
    <h1>NEW ARRIVALS</h1>
    <a href="">SHOP NOW</a>
</div>
<!-- Menu Products -->
<div class="container-fluid wrap">
    <div class="main_product_list">
        <div class="row">
            <div class="col-lg-3 ">
                <div class="main_product_item">
                    <img src="../assets/img/newcls.jpg" alt="">
                    <div class="info">
                        <div>New collection</div>
                        <a class="btnShopNow" href="">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="main_product_item">
                    <img src="../assets/img/men.jpg" alt="">
                    <div class="info">
                        <div>Men's Fashion</div>
                        <a class="btnShopNow" href="">Shop Now</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="main_product_item">
                    <img src="../assets/img/wm.png" alt="">
                    <div class="info">
                        <div>Women's Fashion</div>
                        <a class="" href="">Shop Now</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="main_product_item">
                    <img src="../assets/img/acs.jpg" alt="">
                    <div class="info">
                        <div>Accessores</div>
                        <a class="btnShopNow" href="">Shop Now</a>
                    </div>
                </div>

            </div>
        </div>
    </div>