<!-- header -->
<div class="header shadow">
    <nav class="header_title">

        <div class="header_logo text-center">
            <a routerLink="/home"><img src="/assets/img/logo.png" alt="" class="header_logo_img"></a>
        </div>

        <ul class="header_menu" style="font-size: 16px;">
            <li class="header_menu_item"><a routerLink="/home">Home</a></li>
            <li class="header_menu_item"><a routerLink="/category/1">Áo thun</a></li>
            <li class="header_menu_item"><a routerLink="/category/2">Quần</a></li>
            <li class="header_menu_item"><a routerLink="/category/3">Áo khoác</a></li>
            <li class="header_menu_item"><a routerLink="/category/4">Phụ kiện</a></li>
            <li class="header_menu_item"><a routerLink="/home">Contact</a></li>
        </ul>

        <ul class="header_icon">
            <li class="header_icon_item"><a href=""><i class="fas fa-search"></i></a></li>
            <li class="header_icon_item">
                <a routerLink="/cart">
                    <i class="fas fa-shopping-cart"></i>
                    <!-- <span class="numOfCart"> {{cartLength}} </span> -->

                </a>
            </li>
            <!--Login-->
            <li class="header_icon_item ">
                <a routerLink="login"><i class="fas fa-user"></i></a>
            </li>
        </ul>
    </nav>
</div>