<div class="container">
    <main>
        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" src="/assets/img/logo.png" alt="" width="200px" height="auto">


        </div>
        <div class="wrap">

            <div class="main__form">
                <form class="form" id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form_spacer">
                        <h2>REGISTER USER</h2>
                    </div>
                    <div class="form_group">
                        <label for="hoten" class="form_label">Họ tên *</label>
                        <input type="text" id="hoten" name="hoten" placeholder="example@domain.com" class="form_control"
                            formControlName="hoten">
                        <!-- thông báo lỗi -->
                        <div *ngIf="form.controls['hoten'].invalid && form.controls['hoten'].touched" class="">
                            <div class="alert alert-danger" *ngIf="form.controls['hoten'].errors?.['required']">
                                Vui lòng nhập họ tên
                            </div>
                        </div>
                        <!-- kết thúc errors -->
                    </div>
                    <div class="form_group">
                        <label for="sdt" class="form_label">SDT *</label>
                        <input type="text" id="sdt" name="sdt" placeholder="example@domain.com" class="form_control"
                            formControlName="sdt">
                        <!-- thông báo lỗi -->
                        <div *ngIf="form.controls['sdt'].invalid && form.controls['sdt'].touched" class="">
                            <div class="alert alert-danger" *ngIf="form.controls['sdt'].errors?.['required']">
                                Vui lòng nhập SDT
                            </div>
                        </div>
                        <!-- kết thúc errors -->
                    </div>
                    <div class="form_group">
                        <label for="email" class="form_label">Email *</label>
                        <input type="text" id="email" name="email" placeholder="example@domain.com" class="form_control"
                            formControlName="email">
                        <!-- thông báo lỗi -->
                        <div *ngIf="form.controls['email'].invalid && form.controls['email'].touched" class="">
                            <div class="alert alert-danger" *ngIf="form.controls['email'].errors?.['required']">
                                Vui lòng nhập Email
                            </div>
                            <div class="alert alert-secondary" *ngIf="form.controls['email'].errors?.['email']">
                                Vui lòng nhập đúng cú pháp Email
                            </div>
                        </div>
                        <!-- kết thúc errors -->
                    </div>
                    <div class="form_group">
                        <label for="password" class="form_label">Password *</label>
                        <input type="password" id="password" name="password" placeholder="Password" class="form_control"
                            formControlName="password">
                        <!-- Thông báo lỗi -->
                        <div *ngIf="form.controls['password'].invalid && form.controls['password'].touched" class="">
                            <div class="alert alert-danger" *ngIf="form.controls['password'].errors?.['required']">
                                Mật khấu không được để trống
                            </div>
                        </div>
                        <!-- Kết thúc errors -->
                    </div>
                    <button class="form_submit">Đăng ký</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2017–2021 Company Name</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>