<div class="container-fluid" style="padding: 0 5%;">
    <div class="row">

        <!-- Emty cart -->
        <div class="text-center" style="margin-top: 100px;" *ngIf="cartList.length == 0">
            <h1>Your cart</h1>
            <h4>Your cart is currently empty.</h4>
            <img src="https://cdn.discordapp.com/attachments/942351524170985544/965883205448241182/undraw_shopping_app_flsj.png"
                width="600px" />

            <div><button class="btn_cartempty" routerLink="/">Continue Shopping </button></div>
        </div>
        <!-- Cart not null -->
        <div *ngIf="cartList.length != 0" class="row" style="margin-top: 100px;">

            <div class="col-md-12 col-lg-12 card" id="infocart">
                <h1 class="text-center text-dark text-uppercase"> Thông tin đơn hàng </h1>
                <span class="fst-italic text-center">
                    <small>Tạm tính ({{lengthcart}} sản phẩm) {{stringTotal}} đ <br /></small>
                    <small>Phí vận chuyển sẽ được tính ở trang thanh toán. Bạn cũng có thể nhập mã giảm giá ở trang
                        thanh
                        toán.</small>
                </span>
                <hr />
                <div>
                    <div class="card-body row">
                        <!-- <img class="col-3" src={{a.mainImg}} width="50px" />
                        <p class="col-3" style="margin-top: 80px;">{{a.sanPhamName}} </p>
                        
                        <p class="col-3" style="margin-top: 80px;">Price {{a.stringPrice}}</p>

                        <div class="col-3" style="margin-top: 80px;">
                            <span>Số lượng </span>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-outline-dark" (click)="decrease(a)">-</button>
                                <label class="btn btn-outline-dark"> {{a.soLuong}} </label>
                                <button type="button" class="btn btn-outline-dark" (click)="increase(a)">+</button>
                            </div>
                        </div>
                        <div class="btn btn-outline-danger"> Xoá </div>
                        <hr /> -->

                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Số thứ tự</th>
                                    <th scope="col">Sản phẩm</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Giá tiền</th>
                                    <th scope="col">Số lượng</th>
                                    <th scope="col">Xoá</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let a of cartList;index as i ">
                                    <td> {{i+1}} </td>
                                    <td><img src={{a.mainImg}} width="100px" /></td>
                                    <td>{{a.sanPhamName}}</td>
                                    <td>{{a.stringPrice}}</td>
                                    <td>
                                        <div class="col-3" style="margin-top: 80px;">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-outline-dark"
                                                    (click)="decrease(a)">-</button>
                                                <label class="btn btn-outline-dark"> {{a.soLuong}} </label>
                                                <button type="button" class="btn btn-outline-dark"
                                                    (click)="increase(a)">+</button>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="btn btn-outline-danger" (click)="deleteClick(a)"> Xoá </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <h4 class="text-end text-danger mr-3">Tổng cộng:
                    <span> {{stringTotal}} VNĐ</span>
                </h4>
                <div class="text-center">
                    <button class="btn btn-outline-dark mb-3" routerLink="/payment"> Đặt hàng</button>
                </div>

            </div>


        </div>
    </div>
</div>