<div class="container">
    <div class="row">

        <!-- Emty cart -->
        <div class="text-center" style="margin-top: 100px;" *ngIf="cartList.length == 0">
            <h1>Your cart</h1>
            <h4>Your cart is currently empty.</h4>
            <img src="https://cdn.discordapp.com/attachments/942351524170985544/965883205448241182/undraw_shopping_app_flsj.png"
                width="600px" />

            <div><button class="btn_cartempty" routerLink="/">Continue Shopping </button></div>
        </div>

        <div *ngIf="cartList.length != 0" class="row" style="margin-top: 100px;">

            <div class="col-md-7 col-lg-8 card" id="infocart" *ngFor="let a of cartList">
                <div class="card-body row">
                    <img class="col-3" src={{a.mainImg}} width="50px" />
                    <p class="col-3" style="margin-top: 80px;">{{a.sanPhamName}} </p>
                    <!-- <p> Size : {{a.}}</p> -->
                    <p class="col-3" style="margin-top: 80px;">Price {{a.stringPrice}}</p>

                    <div class="col-3" style="margin-top: 80px;">
                        <span>Số lượng </span>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-dark" (click)="decrease(a)">-</button>
                            <label class="btn btn-outline-dark"> {{a.soLuong}} </label>
                            <button type="button" class="btn btn-outline-dark" (click)="increase(a)">+</button>
                        </div>
                    </div>
                    <p> </p>
                </div>
            </div>

            <div class="card col-md-5 col-lg-4 order-md-last">
                <div class="card-body">
                    <h3 class="text-center"> Thông tin đơn hàng </h3>
                    <p>Tạm tính ({{lengthcart}} sản phẩm) {{stringTotal}} đ</p>
                    <p>Phí vận chuyển sẽ được tính ở trang thanh toán. Bạn cũng có thể nhập mã giảm giá ở trang thanh
                        toán.</p>
                    <hr />
                    <h4>Tổng cộng
                        <span> {{stringTotal}} </span>
                    </h4>
                    <div class="text-center">
                        <button class="btn btn-primary"> Đặt hàng</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>