.countdown {
  width: 100%;
  background-color: #f3ead8;
  height: 43.5rem;
  margin-top: 11rem;
  margin-bottom: 7rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: -9999;
}
.countdown::after {
  position: absolute;
  content: "";
  width: 210px;
  height: 210px;
  border-radius: 105px;
  background-color: rgba(255, 255, 255, 0.404);
  top: 35%;
  left: 50%;
  transform: translate(-50%, -35%);
  z-index: 1;
}
.countdown_title {
  z-index: 2;
}
.countdown_title h4 {
  z-index: 20;
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
}
.countdown_title h4 span {
  color: #db0000;
  font-weight: 600;
  font-size: 2.5rem;
  z-index: 20;
}
.countdown_title h2 {
  font-family: "Cookie", cursive;
  font-size: 7rem;
  font-weight: 400;
  color: #db0000;
  line-height: 70px;
  z-index: 20;
}

.countdown {
  z-index: 3;
}
.countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 0.5em;
  text-transform: uppercase;
  margin: 3px;
}
.countdown li span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 4.5rem;
}
.services {
  margin-bottom: 7rem;
}
.services_item {
  padding-left: 65px;
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}
.services_item i {
  font-size: 36px;
  color: #ca1515;
  position: absolute;
  left: 0;
  top: 4 px;
}
.services_item h6 {
  color: #111111;
  font-weight: 600;
  font-size: 16px;
}
.services_item p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #666666;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 15 px 0;
}
