<div class="container-fluid">
    <div class="countdown">
        <div class="countdown_title">
            <h4>discount</h4>
            <h2>Summer Sale 2022</h2>
            <h4>Sale up to <span>70%</span></h4>
            <div id="countdown" class="countdown_run">
                <ul>
                    <li><span id="days"></span>Day</li>
                    <li><span id="hours"></span>Hour</li>
                    <li><span id="minutes"></span>Min</li>
                    <li><span id="seconds"></span>Sec</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="wrap">
        <div class="services">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services_item">
                        <i class="fa fa-car"></i>
                        <h6>Free Shipping</h6>
                        <p>For all oder over 500.000vnđ</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services_item">
                        <i class="far fa-money-bill-alt"></i>
                        <h6>Money Back Guarantee</h6>
                        <p>If good have Problems</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services_item">
                        <i class="far fa-life-ring"></i>
                        <h6>Online Support 24/7</h6>
                        <p>Dedicated support</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="services_item">
                        <i class="fa fa-headphones"></i>
                        <h6>Payment Secure</h6>
                        <p>100% secure payment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>