<app-headercarousel></app-headercarousel>

<h1> Danh sách sản phẩm</h1>

<div class="container text-center">
    <div class="row">
        <div class="col-3" *ngFor="let a of Products">
            <div class="box">
                <img src={{a.img}} class="card-img-top" alt="" style="width: 300px; height: 300px;">
                <div class="card-body">
                    <h5 class="card-text text-uppercase">{{a.name}} </h5>
                    <h5 class="card-text text-danger">Giá: {{a.price}} VNĐ</h5>
                </div>
            </div>
        </div>
    </div>
</div>